In [22]:
import pandas as pd


# read in data
games = pd.read_csv("./Data/game.csv")
team_info = pd.read_csv("./Data/team_info.csv")
playoffs = pd.read_csv("./Data/nhlplayoffs.csv")

In [23]:
# format all data to be from 2001 and later with same naming convention

# checking team-info addition
team_info['playoff-teams-name'].unique()

# cut playoffs where year before 2001 and where team is not in team_info
playoffs = playoffs[playoffs['year'] >= 2001]
playoffs = playoffs[playoffs['team'].isin(team_info['playoff-teams-name'])] # I think it is uncessary but I cannot remember when teams changed names

# cut playoff games - they only go back to 2010 in this data set
games = games[games['type'] == 'R']

# Create lookup dict and replace team IDs with names
team_id_to_name = dict(zip(team_info['team_id'], team_info['teamName']))
games['away_team_id'] = games['away_team_id'].map(team_id_to_name)
games['home_team_id'] = games['home_team_id'].map(team_id_to_name)
games = games.rename(columns={
    'away_team_id': 'away_team_name',
    'home_team_id': 'home_team_name'
})

# drop unused columns could be interesting for venue time if looking at back to back games but save that for later
games = games.drop(columns=['home_rink_side_start', 'venue', 'venue_link', 'venue_time_zone_id', 'venue_time_zone_offset', 'venue_time_zone_tz'])

# create lookup dict and replace team IDs with names in playoffs
playoff_name_to_teamName = dict(zip(team_info['playoff-teams-name'], team_info['teamName']))
playoffs['team'] = playoffs['team'].map(playoff_name_to_teamName)

display(games)
display(playoffs)

,game_id,season,type,date_time_GMT,away_team_name,home_team_name,away_goals,home_goals,outcome
0,2016020045,20162017,R,2016-10-19T00:30:00Z,Flyers,Blackhawks,4,7,home win REG
1,2017020812,20172018,R,2018-02-07T00:00:00Z,Ducks,Sabres,4,3,away win OT
2,2015020314,20152016,R,2015-11-24T01:00:00Z,Avalanche,Jets,4,1,away win REG
3,2015020849,20152016,R,2016-02-17T00:00:00Z,Jets,Hurricanes,1,2,home win REG
4,2017020586,20172018,R,2017-12-30T03:00:00Z,Flames,Ducks,1,2,home win REG
...,...,...,...,...,...,...,...,...,...
26127,2018021267,20182019,R,2019-04-07T00:00:00Z,Wild,Stars,0,3,home win REG
26128,2018021269,20182019,R,2019-04-07T02:00:00Z,Jets,Coyotes,4,2,away win REG
26129,2018021268,20182019,R,2019-04-07T02:00:00Z,Oilers,Flames,3,1,away win REG
26130,2018021270,20182019,R,2019-04-07T02:30:00Z,Golden Knights,Kings,2,5,home win REG
26131,2018021271,20182019,R,2019-04-07T02:30:00Z,Avalanche,Sharks,2,5,home win REG

,rank,team,year,games,wins,losses,ties,shootout_wins,shootout_losses,win_loss_percentage,goals_scored,goals_against,goal_differential
0,1,Avalanche,2022,20,16,4,0,5,1,0.800,85,55,30
1,2,Lightning,2022,23,14,9,0,1,2,0.609,67,61,6
2,3,Rangers,2022,20,10,10,0,1,2,0.500,62,58,4
3,4,Oilers,2022,16,8,8,0,1,2,0.500,65,59,6
4,5,Hurricanes,2022,14,7,7,0,1,0,0.500,37,40,-3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,12,Hurricanes,2001,6,2,4,0,1,0,0.333,8,20,-12
340,13,Sharks,2001,6,2,4,0,0,1,0.333,11,16,-5
341,14,Capitals,2001,6,2,4,0,1,1,0.333,10,14,-4
342,15,Canucks,2001,4,0,4,0,0,1,0.000,9,16,-7
343,16,Senators,2001,4,0,4,0,0,2,0.000,3,10,-7

In [ ]:
# get record for last 20 games of the season for each team
# use date_time_GMT for games and find last 20 per team, start with one season and exannd into loop?


# create table of playoff performance with 0 for first round losses and 1 for first round wins, ect >4 wins = 0, 4>8 wins = 1, ect